<html><head>
  <title>Certificado Panlar 03</title>
<style type="text/css">@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
  .back::after{content: "";position: absolute;left: 0;top: 0;margin: auto;bottom: 0;background-color: #283c75;width: 25px;height: 50%;}
    .back::before{content: "";position: absolute;right: 0;top: 0;margin: auto;bottom: 0;background-color: #283c75;width: 25px;height: 50%;}
    header strong, .container strong{font-weight: 400;margin-top: 20px; display: block;}
   
    .nombre{color: #283B75;}
    .text h1{font-size: 32px;width: 60%;margin: 16px auto;color: #283B75;}
    .date, .intro, .asistencia{font-weight: 100;margin-top: 20px;display: block;}
    .intro{width: 75%;margin: 0 auto;font-size: 18px;padding: 10px;letter-spacing: 1px;;}

</style>
</head>
<body>
<div class="back" style="margin: 0 auto;width: 800px;height: 447px;background-size: cover;text-align: center;position: relative;">
<header><img alt="header" style="width: 800px; height: 129px;" src="https://endocrino.digital/themes/custom/ngt_theme/asset/img/certificate/header.svg" />

<strong>Certifican que:</strong></header>

<div class="container">
<h2 class="nombre" style="color: #283B75;font-size: 40px;width: 80%;margin: 0 auto;padding-bottom: 10px;padding-top: 10px;">{{ content.name_user }}</h2>
<strong class="asistencia">Asistió en Calidad de:</strong></div>

<div class="text">
<h1 stye="font-size: 22px;letter-spacing: 3px;">Participante</h1>
</div>

<p class="intro" style="width: 620px; height: 83px;margin: 0 auto;font-size: 18px;padding: 10px;letter-spacing: 1px;">Al <b style="color: #283B75;font-style: italic;">{{ content.type_approved }},</b> realizado en modalidad virtual, el {{ content.date }}</p>

<p class="intro"><b style="color: #283B75;font-style: italic;">Certificado número:</b> {{ content.token|upper }}</p>

<footer style="margin: 0 auto;margin-top: 10px;display: inline-flex;">
<div style="padding: 20px;"><b><img alt="firma01" style="width: 200px;height: 183px;" src="https://endocrino.digital/themes/custom/ngt_theme/asset/img/certificate/firma1.svg" /></b></div>

<div style="padding: 20px;"><b><img alt="firma01" style="width: 200px;height: 183px;" src="https://endocrino.digital/themes/custom/ngt_theme/asset/img/certificate/firma2.svg" /></b></div>
</footer>
<b><img alt="info merke" class="merk" style="width: 640px;height: 49px;" src="https://endocrino.digital/themes/custom/ngt_theme/asset/img/certificate/merck_text.svg" /> </b>

<div class="line" style="height: 35px;width: 800px;background-color: #283B75;margin-top: 30px;"><b>&nbsp;</b></div>
<b> </b></div>
</body>
</html>